* {
    box-sizing: border-box;
    padding: 0;

}
body {
    background-color: #eee;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.white-keys {
    display: flex;
    position: absolute;
    z-index: 1;
    gap: 1px;

}
.black-keys {
    display: flex;
    position: absolute;
    z-index: 2;
    gap: 2px;
}

.white-keys kbd {
    align-items: end;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 4rem;
    height: 15rem;
    border: 2px solid #808080;
    padding-bottom: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 2em;
    font-weight: bold;
}

.black-keys kbd {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #0B0B0B;
    color: #eee;
    width: 3rem;
    height: 10rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-top: -7.5rem;
    font-size: 2em;
    font-weight: bold;

}

.black-keys kbd:nth-child(1) {
    margin-left: -11.8rem;
}
.black-keys kbd:nth-child(2) {
    margin-left: -7.5rem;
}
.black-keys kbd:nth-child(3) {
    margin-left: .5rem;
}

.black-keys kbd:nth-child(4) {
    margin-left: 4.5rem;
}
.black-keys kbd:nth-child(5) {
    margin-left: 8.5rem;
}
